on:
  push:
    tags: ["*"]
    branches: ["master"]
  pull_request:

jobs:
  build:
    uses: visciang/gha-elixir-workflow/.github/workflows/elixir.yml@main
    with:
      elixir-version: "1.14.1"
    secrets: inherit
